/* Анимация для загрузочного экрана */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Анимация для основного приложения */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Применяем анимации к элементам */
#loading {
    transition: fadeIn 1s ease-in-out forwards;
}

.loading {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
    margin: 100px
}

.loading.hidden{
    opacity: 0;
    visibility: hidden;
    height: 0;
}