name: Build and Deploy
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set execute permissions for gradlew
        run: chmod +x ./gradlew

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 19

      - name: Build
        run: ./gradlew composeApp:jsBrowserProductionWebpack

      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: build
          FOLDER: build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Builded"
